include pyproject.toml
include setup.py
include README.md

recursive-include line_parsers *.py
recursive-include line_parsers *.cpp
recursive-include line_parsers *.h
recursive-include line_parsers *.md LICENSE
